<!-- Splash Screen -->
<div id="splash-screen" class="splash-screen">
    <div class="splash-content">
        <div class="splash-logo">
            <img src="/logo.png" class="app-logo-large nm-logo">
        </div>
        <div class="splash-text">
            <h1 class="splash-title">Keyra</h1>
        </div>
        <div class="splash-loader">
            <div class="splash-progress"></div>
        </div>
    </div>
</div>

<div class="aura-background">
    <div class="aura-blob aura-1"></div>
</div>
